{% extends 'base/ver1.html' %}
{% block content %}
<div class="android-more-section">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">My World</h4>
      </div>
        <iframe src="http://mc-sv1.enjoyprice.in.th/viewmaps/" style="height:400px;"></iframe>
      <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://mc-sv1.enjoyprice.in.th/viewmaps" target="_blank">
           View fullmaps
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
  alert = function() {};
</script>asdas
{% endblock %}
