<div class="android-more-section">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
    <div class="mdl-card__media">
      <img src="{% static "images/more-from-1.png" %}">
    </div>
    <div class="mdl-card__title">
       <h4 class="mdl-card__title-text">1.Register Account</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">Register Account to play game.</span>
    </div>
    <div class="mdl-card__actions">
       <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'user:create' %}">
         Register now
         <i class="material-icons">chevron_right</i>
       </a>
    </div>
  </div>
</div>