{% extends "base/ver1.html" %}
{% load static %}
{% block content %}
<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">Create new account</div>
    <div class="android-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__supporting-text">
          <section class="docs-toc docs-text-styling">
            <nav class="section-content">
              <ul>
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                                  <li>{{field.label}} : {{ error|escape }}</li>
                          {% endfor %}
                      {% endfor %}
                  {% endif %}
                  {% if msg %}
                    <li>{{ msg }}</li>
                  {% endif %}
                  {% if form.password.value != form.password_.value %}  
                    <li>Password and Confirm password not match.</li>
                  {% endif %}       
              </ul>
            </nav>
          </section>
          <form action="{% url "user:create" %}" method="post">
              {% csrf_token %}
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                <input class="mdl-textfield__input" type="text" name="username" id="username" pattern="[A-Z,a-z,0-9]*" value="{{ username }}"/>
                <label class="mdl-textfield__label" for="username">Username 3-15</label>
                <span class="mdl-textfield__error">Letters and number only</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                <input class="mdl-textfield__input" type="text" name="email" id="email" value="{{ email }}" />
                <label class="mdl-textfield__label" for="email">Email</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                <input class="mdl-textfield__input" type="password" name="password" pattern="[A-Z,a-z,0-9]*" id="password" />
                <label class="mdl-textfield__label" for="password">Password 3-15</label>
                <span class="mdl-textfield__error">Letters and number only</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                <input class="mdl-textfield__input" type="password" name="password_" pattern="[A-Z,a-z,0-9]*" id="password_" />
                <label class="mdl-textfield__label" for="password_">Confirm password</label>
                <span class="mdl-textfield__error">Letters and number only</span>
              </div>
        </div>
        <div class="mdl-card__actions">
           <button class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'user:create' %}">
             Register now
             <i class="material-icons">chevron_right</i>
           </button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}